/* barra navegador */
.navbar{
   
    background-color: #f5f6f7;
}
.navbar-collapse{
    align-items:center;
    justify-content:right;
    gap:35px
}
.icon-cart{
    position: relative;
    display: inline-block;
}
.icon-cart img{
    width: 30px;
    object-fit: cover;
    position: relative;
}
.icon-cart span{
    display: flex;
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
    background-color: red;
    color:#fff;
    border-radius: 50%;
    position: absolute;
    bottom:20px;
    right: -10px;
}

/*fin*/
/* carousel */

#carousel-web{

    max-height: 600px;
    overflow: hidden;
}
#carousel-web img {
    width: 70%;
    object-fit: cover;
    max-height: 450px;
}

/*boton carrito offcanvas*/
.show-cart li {
    display: flex;
}

.card {
    margin-bottom: 20px;
}

.close {
    font-size: 21px;
    cursor: pointer
}

/* boton del carrito */
.carrito-btn {
    background-color: transparent;
    border: none;
    padding: 0;

}

.carrito-btn img {
    width: 50px;
}


/*fin*/