/* barra navegador */
.navbar{
   
    background-color: #f5f6f7;
}
.navbar-collapse{
    align-items:center;
    justify-content:right;
}
.icon-cart{
    position: relative;
    display: inline-block;
}
.icon-cart img{
    width: 30px;
    position: relative;
}
.icon-cart span{
    display: flex;
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
    background-color: red;
    color:#fff;
    border-radius: 50%;
    position: absolute;
    bottom:20px;
    right: -10px;
}